# data
data/raw/*
data/processed/*
data/features/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!data/features/.gitkeep

# dont ignore any .dvc files inside data
!data/**/*.dvc

# models
models/*
!models/.gitkeep

# reports generated 
reports/

# python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# notebooks
.ipynb_checkpoints/

# environment
venv/
.env

# ide
.idea/

# os
**/.DS_Store

# logs
logs/
*.log