# data
data/raw/*
data/processed/*
data/features/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!data/features/.gitkeep

# models
models/*
!models/.gitkeep

# notebooks
.ipynb_checkpoints/

# environment
venv/
.env

# ide
.idea/

# os
.DS_Store

# logs
logs/
*.log
